@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
* {
  box-sizing: border-box;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 26px 223px 18px 223px;
}

.input-search {
  display: none;
}
.fa-solid {
  color: #ca0000;
}
.fa-magnifying-glass:before,
.fa-search:before {
  content: "\f002";
  position: relative;
  right: 5px;
}

::-webkit-input-placeholder {
  color: #999999;
}

.menu-news {
  padding: 18px 223px;
  margin: -33px 0px;
}

.list-news {
  padding: 0px;
}
li {
  display: inline;
  font-size: 12px;
  font-weight: 600px;
  line-height: 18px;
  margin-right: 12.5px;
  font-family: prompt;
}
.vektor-1 {
  position: relative;
  right: 14px;
}
.list-right {
  position: relative;
  left: 49px;
}
/* HR */
.line-1 {
  width: 938px;
  position: absolute;
  bottom: 24.83%;
  right: 14.79%;
  left: 215px;
  height: 1px;
  top: 132px;
  background-color: #e5e5e5;
}
.list-news-2 {
  margin: 0px;
  padding: 10px 0px;
}
.list-p {
  font-family: prompt;
  font-size: 11px;
  line-height: 17px;
  font-weight: 500px !important;
  color: #000000;
  font-style: normal;
}

.breaking-box-img {
  position: relative;
  z-index: 1;
}

.breaking-box {
  background-color: #ca0000;
  width: 878px;
  height: 40px;
  position: absolute;
  top: 171px;
  left: 264px;
  border-bottom-right-radius: 15px;
}
.breaking-p {
  color: white;
  font-family: Lato;
  font-size: 12px;
  line-height: 14.4px;
  font-weight: 700px;
  position: absolute;
  height: 14px;
  left: 13.4%;
  right: 1.08%;
  top: calc(20% - 17px / 2);
}

/* Iklan-1 */
.iklan-1 {
  padding: 30px 331px;
}

/* Footer */
footer {
  height: 490px;
  border-top: 2px solid #ca0000;
  background-color: #f5f5f5;
}
.logo-footer {
  padding: 32px 0px 0px 622px;
}
.list-footer-1 {
  padding: 30px 0px 10px 307px;
}
.list-footer-2 {
  padding: 10px 0px 10px 393px;
}
.li-footer-1 {
  font-family: Prompt;
  font-weight: 500px;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}
.li-footer-2 {
  font-family: Prompt;
  font-weight: 500px;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  margin-right: 30px;
}
/* copyright */
.copyright-1 {
  padding: 10px 10px 10px 10px;
  text-align: center;
}
.copyright-p {
  font-family: Lato;
  font-weight: 400px;
  font-size: 12px;
  line-height: 18px;
  color: #999999;
}
.copyright-p-2 {
  font-family: Lato;
  font-weight: 400px;
  font-size: 12px;
  line-height: 18px;
  color: #999999;
}

/* list-icon-footer */
.list-footer-icon {
  padding: 0px 0px 0px 566px;
}
.li-icon-footer {
  margin-right: 10px;
}
/* HR */
.line-2 {
  width: 938px;
  height: 1px;
  background-color: #d8d8d8;
  position: relative;
  top: 47px;
  left: 232px;
}
/* copyright-end */
.copyright-end {
  padding: 69px 0px 0px 446px;
}
.copyright-p-end {
  font-family: Lato;
  font-weight: 400px;
  font-size: 12px;
  line-height: 14.4px;
}

/* responsive (desktop view) */
@media only screen and (min-width: 600px) {
  .hamburger {
    display: none;
  }

  .search-content input {
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    padding: 5px 13px;
    width: 310px;
  }

  .search-content {
    display: flex;
    align-items: center;
  }

  .search-content i {
    margin-left: -20px;
  }

  .input-search {
    display: block;
  }
}
