* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 31px 223px;
}

.input-search {
  display: none;
}
.fa-solid {
  color: #ca0000;
}
.fa-magnifying-glass:before,
.fa-search:before {
  content: "\f002";
  position: relative;
  right: 5px;
}

::-webkit-input-placeholder {
  color: #999999;
}
/* responsive (desktop view) */
@media only screen and (min-width: 600px) {
  .hamburger {
    display: none;
  }

  .search-content input {
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    padding: 5px 13px;
    width: 310px;
  }

  .search-content {
    display: flex;
    align-items: center;
  }

  .search-content i {
    margin-left: -20px;
  }

  .input-search {
    display: block;
  }
}
